name = 'gcloudv1'
main = 'src/worker.js'
workers_dev = true
compatibility_date = '2025-11-17'
compatibility_flags = ['nodejs_compat']

[vars]
ENVIRONMENT = 'production'
CLOUDFLARE_ACCOUNT_ID = 'ede6590ac0d2fb7daf155b35653457b2'

[assets]
directory = './'
binding = 'ASSETS'

[[r2_buckets]]
binding = 'R2_STORAGE'
bucket_name = 'gclouddashboard'

[[d1_databases]]
binding = 'MEAUXOS_DB'
database_name = 'meauxos'
database_id = 'd8261777-9384-44f7-924d-c92247d55b46'

[[routes]]
pattern = 'gcloudv1.meauxbility.workers.dev/*'
custom_domain = false

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1
persist = false
